In [1]:
x = 15
y = 10
z = 5

In [4]:
listu = [bro for bro in range(10,20,2)]
print (listu)

[10, 12, 14, 16, 18]

In [2]:
print(x == 10)

False

In [3]:
print(y + z == x)

True

In [16]:
my_list = [1,2.2,5,40]

In [17]:
print(my_list)

[1, 2.2, 5, 40]

In [8]:
my_list[0]

1

In [12]:
my_list2 = [5,6, [7,8]]
my_list2

[5, 6, [7, 8]]

In [18]:
listona = my_list + my_list2
listona

[1, 2.2, 5, 40, 5, 6, [7, 8]]

In [20]:
my_list.sort()
my_list

[1, 2.2, 5, 40]

In [22]:
meu_dict = {"nome":"Pero","altura": 1.60,"peso":71}
meu_dict

{'nome': 'Pero', 'altura': 1.6, 'peso': 71}

In [24]:
Pedrao = {"nome":"Pedrao","altura":1.65,"peso":71}
Pedrao

{'nome': 'Pedrao', 'altura': 1.65, 'peso': 71}

In [28]:
my_tuple = (1,2,45,65,32,43)
print(my_tuple[1] == 1)

False

In [30]:
print(my_tuple[2] == 45)

True

In [31]:
print(my_list[-1])

40

In [32]:
print(my_list[:3])

[1, 2.2, 5]

In [33]:
print(my_tuple[3:])

(65, 32, 43)

In [36]:
my_set = {43,645,23}
my_set

{23, 43, 645}

In [42]:
len(my_set)

3

In [47]:
my_list3 = [[5,6,7],x,y]
print(my_list3[0])
print(my_list3[1])
print(my_list3[2])
print(my_list3[0][0])
print(my_list3[0][1])
print(my_list3[0][2])

[5, 6, 7]
15
10
5
6
7

In [48]:
print(f"ola meu nome é Roger e tenho {x} anos")

ola meu nome é Roger e tenho 15 anos

In [53]:
uau = "kakakakakakaka"

In [55]:
nuau = uau.replace("ka", "he")
nuau

'hehehehehehehe'

In [56]:
uou = "    taporra menor"
nuou = uou.strip()
nuou

'taporra menor'

In [60]:
uou.split()

['taporra', 'menor']

In [62]:
uau.upper()

'KAKAKAKAKAKAKA'

In [63]:
uau.lower()

'kakakakakakaka'