In [2]:
nome = "Pedro"
idade = 17
altura = 1.65
var_bool = True

In [3]:
type(nome)

str

In [4]:
type(altura)

float

In [5]:
type(var_bool)

bool

In [6]:
# if = 3
# else

"""
ArithmeticError
oasfjsosap
sida
"""

'\nArithmeticError\noasfjsosap\nsida\n'

In [7]:
print("Meu nome é",nome,".","Eu tenho",idade,"anos.")

Meu nome é Pedro . Eu tenho 17 anos.

In [8]:
my_list = [1,"Pedro", idade]
my_list

[1, 'Pedro', 17]

In [9]:
my_list[1]

'Pedro'

In [10]:
x = 10
y = 5
z = 3

In [11]:
print(x==12)
print(x==10)

False
True

In [12]:
pedro = {"nome":"Pedro Augusto Rubem Lima","Idade": 17, "hobbies":["assistir","treinar","pensar"]}

In [40]:
pedro["hobbies"][:2]

['assistir', 'treinar']

In [15]:
my_tuple = (1,"Pedro", idade)
my_tuple[1]

'Pedro'

In [16]:
lista = [2, 5, 2, 4, 43, 4]
lista

[2, 5, 2, 4, 43, 4]

In [32]:
conjunto = set(lista)
conjunto

{2, 4, 5, 43}

In [3]:
meu_set = {1,2,2,2,3,7,5,4,4,4}

In [4]:
print(meu_set)

{1, 2, 3, 4, 5, 7}

In [14]:
minha_lista2 = [1,4,4,32,24,5,2,[3,6,32,2,63]]

In [36]:
texto = "shiu Buia"
texto_maiusculo = texto.upper()
print(texto_maiusculo)

SHIU BUIA

In [40]:
maçã = "baracutaia"
maçã_maior = maçã.upper()
print(maçã_maior)

BARACUTAIA

In [39]:
carlinhos = "CAVALOS"
carlinhos_menor = carlinhos.lower()
print(carlinhos_menor)

cavalos

In [44]:
input()

'17'