In [2]:
import pandas as pd

In [3]:
pd.Pista = ["a","b" ]

In [4]:
from array import array

In [5]:
import numpy as np

In [6]:
Pista = [1,2,4,5,67,8]

In [7]:
print(pd.Pista)

['a', 'b']

In [8]:
Minerios = np.array([[12,3,2,53],[234,543,53,2],[1314,433,75,45]])
Minerios

array([[  12,    3,    2,   53],
       [ 234,  543,   53,    2],
       [1314,  433,   75,   45]])

In [9]:
TABELADA = pd.DataFrame(Minerios)

In [10]:
TABELADA = pd.DataFrame(Minerios, columns = ["Ferro","Ouro","Diamante","Esmeralda"], index = ["Dano","Resistência","Valor"])
TABELADA

             Ferro  Ouro  Diamante  Esmeralda
Dano            12     3         2         53
Resistência    234   543        53          2
Valor         1314   433        75         45

In [15]:
print("median:",TABELADA["Ouro"].median())

median: 433.0